<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />


</head>
<body>
    <section class="planner">
        <h1 id="school">Leon Noel</h1>
        <h1 id="school">STEM Academy</h1>
        <img class="logo" src="./public/images/frontPageLogo.png" alt="">
        <h2 class="studentPlanner">Student Planner</h2>
        <section class="buttons">
            <a class="loginButton" href="/login"> Login</a>
            <a class="signinButton" href="/signup"> Signup</a>
        </section>
    </body>
</html>