/******************************************
/* Box Model Hack */
/*******************************************/

* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/
.planner {
  border: solid 10px black;
  background-color: #f0cf6c;
  width: 30%;
  height: 32em;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.topLoginPage {
  height: 50%;
}


#school {
  width: 100%;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.loginForm {
  height: 40%;
}
.errorMessage {
  height: 50%;
}

.alert-alert-danger {
  border: solid 1px #060909;
  background-color: #060909;
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  color: #FFF30A;
  width: fit-content;
  margin: .1rem;
  flex-direction: column;
  padding-top: 1rem;
  border-radius: 3px;
  padding: .4rem;
}


/******************************************
/* LAYOUT
/*******************************************/

/****.planner {}*******/

#school {
  display: flex;
  justify-content: center;
}

.logo {
  display: block;
}

.loginForm {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.form-parent{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 3px;
  
}

.alert-alert-danger {
  display: flex;
  justify-content: center;
  text-align: center;
}