/******************************************
/* Box Model Hack */
/*******************************************/

* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

.planner {
  border: solid 10px black;
  background-color: #f0cf6c;
  width: 30%;
  height: 32em;
  margin: auto;
  font-family: 'Roboto', sans-serif;

}

#school {
  width: 100%;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.studentPlanner {
  width: 100%;
}

.buttons {
  height: 30%;
}
.loginButton {
  width: 100%;
  text-decoration: none;
  color: black;
}


.signinButton {
  width: 100%;
  text-decoration: none;
  color: black;
}

/******************************************
/* LAYOUT
/*******************************************/

.planner {}

#school {
  display: flex;
  justify-content: center;
}

.logo {
  display: block;
}

.studentPlanner {
  display: flex;
  justify-content: center;
}

.loginButton {
  display: flex;
  justify-content: center;
}

.signinButton {
  display: flex;
  justify-content: center;
  
  align-items: flex-end;
}

.buttons {
  display: flex;
  align-items: flex-end;
}